# Miscellaneous
*.log
*.swp
.DS_Store

# IDEs
.idea/
*.iml
.vscode/chrome/
.vscode/*.pma
.vscode/*.tmp

# Build & Metadata
.firebase/
**/server.exe
*.exe
*.dll
*.so
*.dylib

# Env
.env*
!.env.example

# Firebase Configuration (Sensitive)
firebase_options*.dart
lib/core/config/firebase_options*.dart
**/firebase_options*.dart

# Flutter/Dart artifacts
.dart_tool/
.packages
.pub-cache/
.pub/
build/
